*{
    margin: 0;
    padding: 0;
}
.top{
    background-color: teal;
    
}

 .one{
        text-align: right;
        list-style-type: none;
        display: flex;
        padding: 15px; 
    }
a:hover{
    color: rgb(0, 255, 0);
    font-size: 15px;}

li>a{
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-family: Merienda;
    font-size: 15px;
    font-weight: 700;
}
#banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),#009688), url(images/spa.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.heading{
    text-align: center;
    font-size: 60px;
}
.heading p{
    font-style: italic;
}
.heading p2{
    font-size: 90px;
    font-style: oblique;
}
.heading p1{
    font-size: 20px;
}
.John h1{
text-align: center;
font-size: 60px;
}
.John p{
    text-align: center;
    font-size: 20px;
}
.message{
    font-size: 20px;
}
.Btwn {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: .5px solid #fff;
    color: #fff;
    transition: 0.5s;
}

.footer{
    text-align: center;
    background-color: rgb(34, 34, 34);
    bottom: 0;
    left: 0;
    width: 100%;
    position: abolute;
    margin-top: 100px;
}

.foot{
    text-align: center;
    background-color: rgb(34, 34, 34);
    bottom: 0;
    left: 0;
    width: 100%;
}

